@model IEnumerable<Pizzeria.Models.Ordine>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pizza.NomePizza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdineConsegnato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdineInConsegnato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOrdine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pizza.NomePizza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndirizzoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdineConsegnato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdineInConsegnato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOrdine)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDordine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDordine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDordine })
        </td>*@
    </tr>
}

</table>
